<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-sm-3">
        <h4>Contact Us</h4>
        <ul class="list-unstyled">
          <li>Address: 123 Main Street, Anytown, USA</li>
          <li>Phone: (123) 456-7890</li>
          <li>Email: info@yourdomain.com</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>Support</h4>
        <ul class="list-unstyled">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help Desk</a></li>
          <li><a href="#">Forums</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>Follow Us</h4>
        <ul class="list-unstyled">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="text-center">Copyright &copy; Your Company 20XX</p>
  </div>
</footer>
