footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

footer h4 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ddd;
}

footer p.text-center {
  margin-top: 50px;
  font-size: 12px;
  color: #ccc;
}

.col-sm-3 {
  display: flex;
}
